<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" th:href="@{css/style.css}">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
<title>Expense List</title>
</head>
<body>

		<div class="wrapper">
				<nav id="sidebar">
						<div class="sidebar-header">
								<h3>Expense Tracker</h3>
						</div>

						<ul class="list-unstyled components">
								<p>
										Welcome, <span sec:authentication="name"></span>!
								</p>
								<li class="active"><a th:href="@{/expenses}">Expenses</a></li>
								<li><a th:href="@{/categories}">Categories</a></li>
								<li>
										<div sec:authorize="isAuthenticated()">
												<form id="logoutForm" method="POST" th:action="@{/logout}">
														<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
												</form>
												<a onclick="document.forms['logoutForm'].submit()">Logout</a>
										</div>
								</li>
						</ul>
				</nav>
				<div id="content">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
								<div class="container-fluid">

										<button type="button" id="sidebarCollapse" class="btn btn-info">
												<i class="fas fa-align-left"></i> <span>Sidebar</span>
										</button>

								</div>
						</nav>

						<h2>Here follows your expenses so far:</h2>

						<button data-toggle="modal" data-target="#newExpense" class="btn btn-primary btn-sm mb-3">Add new expense</button>
						<div class="modal fade" th:id="newExpense" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
												<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Add new expense</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
														</button>
												</div>
												<form th:action="@{/expenses/save}" th:object="${newExpense}" method="POST">
														<div class="modal-body">
																<label>Description</label>
																<input type="text" th:field="*{description}" name="description" class="form-control mb-4 col-4" placeholder="Description" />
																<label>Value</label>
																<input type="text" th:field="*{value}" name="value" class="form-control mb-4 col-4" placeholder="Value" />
																<label>Date</label>
																<input type="date" th:field="*{date}" name="date" class="form-cowntrol mb-4 col-4" placeholder="Date" />
																<label>Note</label>
																<input type="text" th:field="*{note}" name="note" class="form-control mb-4 col-4" placeholder="Note" />
																<!-- 																<label>Categories</label>
																<input th:field="*{categories}" name="categories">
																<th:block th:each="category : *{categories}" th:object="${category}">
																		<input type="hidden" th:value="*{id}">
																		<input type="checkbox" th:value="*{name}" th:text="*{name}" checked>
																</th:block> -->
														</div>
														<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-success">Save changes</button>
														</div>
												</form>
										</div>
								</div>
						</div>

						<p th:if="${message}">[[${message}]]</p>
						<table class="table table-bordered table-striped">
								<thead class="thead-dark">
										<tr>
												<th>Description</th>
												<th>Value</th>
												<th>Category</th>
												<th>Note</th>
												<th>Date</th>
												<th>Action</th>
										</tr>
								</thead>
								<tbody>

										<tr th:each="expense : ${expenses}">
												<td th:text="${expense.description}" />
												<td th:text="${expense.value}" />
												<td>
														<div th:each="category : ${expense.categories}">
																<p th:text="${category.name}"></p>
														</div>
												</td>
												<td th:text="${expense.note}" />
												<td th:text="${expense.date}" />
												<td>

														<button data-toggle="modal" th:attr="data-target='#updateExpense' + ${expense.id}" class="btn btn-info btn-sm">Update</button>
														<div class="modal fade" th:id="'updateExpense' + ${expense.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
																aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" role="document">
																		<div class="modal-content">
																				<div class="modal-header">
																						<h5 class="modal-title" id="exampleModalLongTitle">Update Expense</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																								<span aria-hidden="true">&times;</span>
																						</button>
																				</div>
																				<form th:action="@{/expenses/save}" th:object="${expense}" method="POST">
																						<div class="modal-body">
																								<input type="hidden" th:value="*{id}" name="id">
																								<label>Description</label>
																								<input type="text" th:value="*{description}" name="description" class="form-control mb-4 col-4" placeholder="Description" />
																								<label>Value</label>
																								<input type="text" th:value="*{value}" name="value" class="form-control mb-4 col-4" placeholder="Value" />
																								<label>Date</label>
																								<input type="date" th:value="*{date}" name="date" class="form-cowntrol mb-4 col-4" placeholder="Date" />
																								<label>Note</label>
																								<input type="text" th:value="*{note}" name="note" class="form-control mb-4 col-4" placeholder="Note" />
																								<label>Categories</label>
																								<th:block th:each="category, itemStat : *{categories}">
																										<input type="hidden" th:value="*{categories[__${itemStat.index}__].id}" th:name="${category.id}">
																										<input type="text" th:value="*{categories[__${itemStat.index}__].name}" th:name="${category.name}" checked>
																								</th:block>
																						</div>
																						<div class="modal-footer">
																								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																								<button type="submit" class="btn btn-success">Save changes</button>
																						</div>
																				</form>
																		</div>
																</div>
														</div>

														<button data-toggle="modal" th:attr="data-target='#deleteExpense' + ${expense.id}" class="btn btn-danger btn-sm">Delete</button>
														<div class="modal fade" th:id="'deleteExpense' + ${expense.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
																aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" role="document">
																		<div class="modal-content">
																				<div class="modal-header">
																						<h5 class="modal-title" id="exampleModalLongTitle">Delete Expense</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																								<span aria-hidden="true">&times;</span>
																						</button>
																				</div>
																				<form th:action="@{/expenses/delete}" th:object="${expense}" method="POST">
																						<div class="modal-body">
																								<input type="hidden" th:value="*{id}" name="id">
																								<label>Description</label>
																								<p th:text="*{description}" />
																								<label>Value</label>
																								<p th:text="*{value}" />
																								<label>Date</label>
																								<p th:text="*{date}" />
																								<label>Note</label>
																								<p th:text="*{note}" />
																								<label>Categories</label>
																								<p th:each="category : *{categories}" th:text="${category.name}">
																						</div>
																						<div class="modal-footer">
																								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																								<button type="submit" class="btn btn-danger">Delete</button>
																						</div>
																				</form>
																		</div>
																</div>
														</div>
												</td>
										</tr>
								</tbody>
						</table>
				</div>
		</div>

</body>
<footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<script th:src="@{js/script.js}"></script>
</footer>
</html>
