<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" th:href="@{css/style.css}">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
<title>Category List</title>
</head>
<body>

		<div class="wrapper">
				<nav id="sidebar">
						<div class="sidebar-header">
								<h3>Expense Tracker</h3>
						</div>

						<ul class="list-unstyled components">
								<p>
										Welcome, <span sec:authentication="name"></span>!
								</p>
								<li><a th:href="@{/expenses}">Expenses</a></li>
								<li  class="active"><a th:href="@{/categories}">Categories</a></li>
								<li>
										<div sec:authorize="isAuthenticated()">
												<form id="logoutForm" method="POST" th:action="@{/logout}">
														<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
												</form>
												<a onclick="document.forms['logoutForm'].submit()">Logout</a>
										</div>
								</li>
						</ul>
				</nav>
				<div id="content">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
								<div class="container-fluid">

										<button type="button" id="sidebarCollapse" class="btn btn-info">
												<i class="fas fa-align-left"></i> <span>Sidebar</span>
										</button>

								</div>
						</nav>

						<h2>These are your categories:</h2>

						<button data-toggle="modal" data-target="#newCategory" class="btn btn-primary btn-sm mb-3">Add new category</button>
						<div class="modal fade" th:id="newCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
												<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Add new category</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
														</button>
												</div>
												<form th:action="@{/categories/save}" th:object="${newCategory}" method="POST">
														<div class="modal-body">
																<label>Name</label>
																<input type="text" th:field="*{name}" name="description" class="form-control mb-4 col-4" placeholder="Name" />
														</div>
														<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-success">Save changes</button>
														</div>
												</form>
										</div>
								</div>
						</div>

						<p th:if="${message}">[[${message}]]</p>

						<table class="table table-bordered table-striped">
								<thead class="thead-dark">
										<tr>
												<th>Name</th>
												<th>Action</th>
										</tr>
								</thead>
								<tbody>
										<tr th:each="category, itemStat : ${categories}">
												<td th:text="${category.name}" />
												<td>

														<button th:if="${category.user != null}" data-toggle="modal" th:attr="data-target='#updateCategory' + ${category.id}"
																class="btn btn-info btn-sm">Update</button>
														<div class="modal fade" th:id="'updateCategory' + ${category.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
																aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" role="document">
																		<div class="modal-content">
																				<div class="modal-header">
																						<h5 class="modal-title" id="exampleModalLongTitle">Update Expense</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																								<span aria-hidden="true">&times;</span>
																						</button>
																				</div>
																				<form th:action="@{/categories/save}" th:object="${category}" method="POST">
																						<div class="modal-body">
																								<input type="hidden" th:value="${categories[__${itemStat.index}__].id}" name="id">
																								<label>Name</label>
																								<input type="text" th:value="${categories[__${itemStat.index}__].name}" name="name">
																						</div>
																						<div class="modal-footer">
																								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																								<button type="submit" class="btn btn-success">Save changes</button>
																						</div>
																				</form>
																		</div>
																</div>
														</div>

														<button data-toggle="modal" th:attr="data-target='#deleteCategory' + ${category.id}" class="btn btn-danger btn-sm">Delete</button>
														<div class="modal fade" th:id="'deleteCategory' + ${category.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
																aria-hidden="true">
																<div class="modal-dialog modal-dialog-centered" role="document">
																		<div class="modal-content">
																				<div class="modal-header">
																						<h5 class="modal-title" id="exampleModalLongTitle">Delete Expense</h5>
																						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																								<span aria-hidden="true">&times;</span>
																						</button>
																				</div>
																				<form th:action="@{/categories/delete}" th:object="${category}" method="POST">
																						<div class="modal-body">
																								<input type="hidden" th:value="${categories[__${itemStat.index}__].id}" name="id">
																								<label>Name</label>
																								<input type="hidden" th:text="${categories[__${itemStat.index}__].name}" name="name">
																						</div>
																						<div class="modal-footer">
																								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																								<button type="submit" class="btn btn-danger">Delete</button>
																						</div>
																				</form>
																		</div>
																</div>
														</div>

												</td>
								</tbody>
						</table>

						<a th:href="@{/expenses}" class="btn btn-info btn-sm">Back to expenses list</a>

				</div>
		</div>
</body>
<footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
		<script th:src="@{js/script.js}"></script>
</footer>
</html>
