<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" media="screen"/>
    <title>Category form</title>
</head>
<body>

	<h1>Category form</h1>
	
	<form th:action="@{/categories/save}" th:object="${category}" method="POST">
		<input type="hidden" th:field="*{id}">
		<label>Description</label>
		<input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name">
		<button type="submit" class="btn btn-success col-2 mb-2">Save</button>
	</form>
	
	<a th:href="@{/expenses/list}" class="btn btn-info btn-sm">Back to expenses list</a>
</body>
<footer>
	<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</footer>
</html>
